.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: 700;

  height: 73px;
  min-width: 306px;
  padding: 12px 12px;
  border-radius: 15px;
  border: none;
}

.button__icon{
margin: 0 5px 0 0;
}

.smallFont{
font-size: 30px;
font-weight: 500;
height: 73px;
min-width: 306px;
padding: 12px 12px;
border-radius: 15px;
border: none;
}

