  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


.App{
height: 100%;
  color: #F9FBFC;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;

}

.App__item{
  height: 100%;
display: flex;
}